body {
  font-family: Arial, sans-serif;
  background-color: #111;
  background-image: linear-gradient(to bottom right, #000, #1e1e1e);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  color: #fff;
}

form {
  width: 500px;
  margin: 50px auto;
  background-color: lightslategrey;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #1e1e1e;
  color: #fff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 30%;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}

#registration-form input[type="submit"] {
  margin-right: 10px;
}
